/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.btn-mainpage>:first-child{padding: 5px 0px 5px 0px; border-right:1px solid rgba(0,0,0,0.2)}

.badge-danger {
    background-color: #d43f3a;
}
.badge-warning {
    background-color: #d58512;
}
.badge-success {
    background-color: #398439;
}

.badge-danger, .badge-success, .badge-warning {
    margin-top: 15px;
    margin-right: 5px;
    margin-left: -5px;
}

.sessionbadge {
    margin-top: 0px;
    margin-right: 5px;
    margin-left: -5px;
    cursor: pointer;
}

.input-group {
    margin-top: 8px;
}

#footer
{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}



table {
    height: 400px;
    overflow: auto;
    display:block;
}

td {
    padding: 5px;
    text-align: left
}

.divider{
    top: 1%;
    position:absolute;
    left:50%;
    bottom:1%;
    border-left:1px solid black;
}