extends layout
block content
    form(id="google-cloud-init")
        div.col-md-6.col-md-offset-3
            a.btn.btn-default.btn-large(href='../notebookList', role='button') Notebook list
        br
        br
        div.input-group
            span.input-group-addon(id="id-addon") Google Cloud ID
            input.form-control(id="gcloud-id-input" type="text", placeholder="Google Cloud Project id", value="propane-bearing-124123")
        br
        div.btn-group.btn-group-lg
            button.btn.btn-info(id="run-local-submit", type="button") <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Deploy locally
            button.btn.btn-primary(id="run-gcloud-submit", type="button") <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Deploy to Google Cloud
            button.btn.btn-primary(type="button", data-toggle="modal", data-target="#authModal") Authentication test
    div.modal.fade.text-left(id="authModal", tabindex="-1", role="dialog", aria-labelledby="authModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal", aria-label="Close") <span aria-hidden="true">&times;</span>
                    h4.modal-title(id="authModalLabel") <img src="../images/gcloud-logo.png" alt="Logo" align="middle"> Google Cloud authentication
                 div.modal-body
                     p In order to authenticate, open the following link in a new tab:
                     a(id="authLink" target="_blank", href="#") Generating...
                     br
                     br
                     p When authenticated, you will receive a verification code that you can paste below.
                     div.input-group
                         span.input-group-addon(id="authCode-addon") Verification code
                         input.form-control(id="authCode", type="text", aria-describedby="authCode-addon", placeholder="Enter verification code")
                 div.modal-footer
                     button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                     button.btn.btn-primary(id="authButton", type="button", data-dismiss="modal") Authenticate
