extends layout
block content
    div.col-md-10.col-md-offset-1.text-center
        form(id="google-cloud-init")
            div.alert.alert-info.text-left(id="authAlert", role='alert')
                button.btn.btn-primary.btn-large(id="authModalButton", type="button") Authenticate
                span(id="authText", style="padding-left: 20px") You are authenticated as <strong>USER</strong>.
            br
            div.btn-group.btn-group-lg
                button.btn.btn-info(id="run-local-submit", type="button", disabled) <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Deploy locally
                button.btn.btn-primary(id="run-gcloud-submit", type="button", disabled) <span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> Deploy to Google Cloud
            br
            br
    textarea.form-control(id="deployCmd", rows="12", style="font-family: Consolas, Lucida Console, monospace;", readonly) > Command line output is displayed here while deploying
    br
    p.lead(id="deploymentLink")
    div.modal.fade.text-left(id="authModal", tabindex="-1", role="dialog", aria-labelledby="authModalLabel")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    button.close(data-dismiss="modal", aria-label="Close") <span aria-hidden="true">&times;</span>
                    h4.modal-title(id="authModalLabel") <img src="/images/gcloud-logo.png" alt="Logo" align="middle"> Google Cloud authentication
                 div.modal-body
                     p In order to authenticate, open the following link in a new tab:
                     a(id="authLink" target="_blank", href="#") Generating...
                     br
                     br
                     p When authenticated, you will receive a verification code that you can paste below.
                     div.input-group
                         span.input-group-addon(id="authCode-addon") Verification code
                         input.form-control(id="authCode", type="text", aria-describedby="authCode-addon", placeholder="Enter verification code")
                 div.modal-footer
                     button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                     button.btn.btn-primary(id="authButton", type="button", data-dismiss="modal") Authenticate
