extends layout
block content
	div(id="main-wrapper")
		nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
			div.navbar-header
				a.navbar-brand Datatonic
		div.container
			div.wrapper-mainpage(style="text-align: center")
			br
			br
			div.col-md-6.col-md-offset-3
				br
				br
				form(id="google-cloud-init")
					div.input-group
						span.input-group-btn
							button.btn.btn-primary.btn-large(id="google-cloud-project-id-submit", type="button") Start Google Datalab
						input.form-control(id="google-cloud-project-id-input" type="text", placeholder="Google Cloud project id", value="propane-bearing-124123")
			div.col-md-6.col-md-offset-3
				button.btn.btn-primary.btn-large(id="retrieve-notebooks", type="button") Retrieve notebooks


		div(id="footer" style="text-align: center")
			a(href="https://github.com/brecht-d-m/amma-bda")
				i.fa.fa-github(style="font-size: 300%")
