extends layout
s
block content
    div.col-md-6.col-md-offset-3
        span
            button.btn.btn-primary.btn-large(id="retrieve-notebooks", type="button") Retrieve notebooks
            ul.list-group(id="notebooklist")
