extends layout
block content
    div.col-md-6.left
        button.btn.btn-primary.btn-large(id="retrieve-local-notebooks", type="button") Retrieve local notebooks
        br
        br
        table(id="local-notebooklist")
    div.divider
    div.col-md-6.right
        button.btn.btn-primary.btn-large(id="retrieve-cloud-notebooks", type="button") Retrieve cloud notebooks
        br
        br
        table(id="cloud-notebooklist")