doctype html
html
    head
        title=title
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://cdn.socket.io/socket.io-1.4.5.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js')
        script(src='/javascripts/status.js')
        script(src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js")
        if script
            script(src='/javascripts/' + script + '.js')
    body
        div(id="main-wrapper")
            nav.navbar.navbar-default.navbar-static-top(role="navigation", style="margin-bottom: 0")
                div.navbar-header
                    a.navbar-brand Datatonic
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(class=(pgName==='deployer' ? 'active' : ''))
                            a(href='/deployer/') Deployer
                        li(class=(pgName==='notebookList' ? 'active' : ''))
                            a(id="notebookListNav", href='/notebookList/') Notebooks
                    div.col-sm-4.col-md-4
                        form(id="google-cloud-init")
                            div.input-group
                                span.input-group-addon(id="id-addon") Google Cloud ID
                                input.form-control(id="gcloud-id-input" type="text", placeholder="Google Cloud Project id", value=projectID)
                    ul.nav.nav-pills.pull-right
                            li
                                span.navbar-text Local
                                span.badge.badge-warning(id="local-status") ?
                            li
                                span.navbar-text Cloud
                                span.badge.badge-warning(id="cloud-status") ?

            div.container
                div.wrapper-mainpage(style="text-align: center")
                div.col-md-12.text-center
                    br
                    block content
            //- keep these br's here, since the footer overlaps with this.
            br
            br
            br
            br
            br
            div(id="footer" style="text-align: center")
                a(href="https://github.com/brecht-d-m/amma-bda")
                    i.fa.fa-github(style="font-size: 300%")
